@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: #ff3e00,
	$secondary: #676778,
	$surface: #fff,
	$background: #fff,
	$error: color-palette.$red-900
);

@use '@smui/snackbar/style' as smui-snackabar;
@use '@material/snackbar/mixins' as snackbar;
@use '@material/theme/theme-color';

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
	margin: 0;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

.card-list {
	width: 100%;
}

.card-list-item {
	transition: 0.3s;
	border: 1px solid #e0e0e0 !important;
}
.card-list-item:hover {
	background-color: #ececec;
}

.mdc-snackbar.snackbar-error {
	@include snackbar.fill-color(color-palette.$red-500);
	@include snackbar.label-ink-color(theme-color.accessible-ink-color(color-palette.$red-500));
}
